body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    /* background: linear-gradient(to bottom , rgb(39, 168, 211),rgb(65, 57, 57)); */
    
    
  }

  .nav-wrapper .fa-bars{
    font-size:25px;
  }

  footer{
    margin-top:20px;
  }
  .story-text{
    height:100px;
  }
  .dash-status{
    text-transform: capitalize;
  }
  #delete-form{
    display:inline;
  }
  .crypers{
    
    padding: 30px;
    font-family:"Lato",sans-serif;
    font-size: 16px !important; 
  }

 