<h1>Welcome </h1>
<p>Welcome to storyBooks </p>
<p>Post stories from the best and worst of your life and choose for then to be read by the world or completely as your private as your own personal diary</p>


{{#if user}}
{{else}}
<a class = "btn red darken-1" href="/auth/google"><i class = "fa fa-google left"></i>Login With Google </a>
{{/if}}